<h2>Add item:</h2>
<br>
<%= form_tag products_path do %>
    <%= text_field_tag :product %>
    <%= submit_tag "add to cart" %>
<% end %>
<br>
<h2>Products</h2>
<br>
<ul>
<% cart.each do | product | %>
  <li><%= product %></li>
<% end %>
</ul>
